 <!--部分テンプレート-->
<%= render 'books/list', book: @books, user: @user %>

<h1>Books</h1>
<table>
  <thead>
    <tr><!--1行目の見出し-->
      <th><strong>Title</strong></th>
      <th><strong>Opinion</strong></th>
    </tr>
    </thead>
      <tbody>
        <% @books.each do |book| %>
        <tr>
          <td>
            <%=image_tag @user.get_profile_image(100,100) %>
          </td>
          <td>
            <%=book.title %>
          </td>
          <td>
            <%=book.body %>
          </td>
        </tr>
        <% end %>
      </tbody>
  </table>








